/* General Settings */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/** Color Codes: 
  * #ba0c2f - Scarlet
  * #a6001d - Dark Scarlet
  * #57058c - Violet
  * #FF5F05 - Orange
  * #040426 - Deep Dark Blue
  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #000000;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  width: 500px;
}

h1 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 8px;
}

h2 {
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 8px;
}

#copyright {
  font-size: 0.8rem;
  font-weight: 600;
  color: #777;
}

p,
label,
span {
  margin-bottom: 10px;
  color: #fff;
  font-size: 1rem;
}

button {
  width: var(--custom-button-width, auto);
  padding: 8px;
  font-family: "Poppins", sans-serif;
  background-color: #ba0c2f;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-top: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover,
select:hover {
  background-color: #0d4b71;
  transform: scale(1.05);
}

select {
  padding: 12px 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-top: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: #3fa4e1;
}

/* Start Menu */
#startMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #040426;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#startMenu img {
  width: 40%;
  height: auto;
  margin: 20px 20px;
}

#startMenu button {
  width: 40%;
  margin-top: 20px;
}

/* Reading Menu */
#readingMenu {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
  background-color: #040426;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#readingMenu img,
#concludedMenu img,
#translateOptionsPage img,
#translatedPage img,
#deepAnalysisPromptPage img {
  width: 100px;
  height: auto;
  margin: 10px 0;
  /* background-color: #ffffff; */
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 20px;
  cursor: pointer;
}

#readingMenu p {
  font-weight: 600;
}

#readingMenu img:hover {
  transform: scale(1.05);
}

#readingMenu button {
  width: 150%;
}

#buttonContainer {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

/* #moreFeatures {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

#concludeButtonContainer {
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  line-height: 0;
}

#concludeButton {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
  display: inline-block;
  line-height: 0;
}

#concludeButton::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, transparent 30%, #57058c);
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

#concludeButton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #57058c;
}

#concludeButton:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

#concludeButton img {
  display: block;
  padding: 10px;
}

#translateButtonContainer {
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  line-height: 0;
}

#translateButton {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
  line-height: 0;
  box-sizing: border-box;
}

#translateButton::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, transparent 30%, #ba0c2f);
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

#translateButton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ba0c2f;
}

#translateButton:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

#translateButton img {
  display: block;
  padding: 10px;
}

#analysisButtonContainer {
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  line-height: 0;
}

#analysisButton {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
  line-height: 0;
  box-sizing: border-box;
}

#analysisButton::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, transparent 30%, #ff5f05);
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

#analysisButton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ff5f05;
}

#analysisButton:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

#analysisButton img {
  display: block;
  padding: 10px;
}

/**/

#refreshButtonContainer {
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  line-height: 0;
}

#refreshButton {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
  display: inline-block;
  line-height: 0;
}

#refreshButton::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, transparent 30%, #3fa4e1);
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

#refreshButton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #3fa4e1;
}

#refreshButton:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

#refreshButton img {
  display: block;
  padding: 10px;
}

#translateSummaryButtonContainer {
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  line-height: 0;
}

#translateSummaryButton {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
  line-height: 0;
  box-sizing: border-box;
}

#translateSummaryButton::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, transparent 30%, #3fa4e1);
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

#translateSummaryButton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #3fa4e1;
}

#translateSummaryButton:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

#translateSummaryButton img {
  display: block;
  padding: 10px;
}

#backButtonContainer {
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  line-height: 0;
}

#backButton {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
  line-height: 0;
  box-sizing: border-box;
}

#backButton::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, transparent 30%, #3fa4e1);
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

#backButton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #3fa4e1;
}

#backButton:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

#backButton img {
  display: block;
  padding: 10px;
}

#switchButtonContainer {
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  line-height: 0;
}

#switchButton {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
  line-height: 0;
  box-sizing: border-box;
}

#switchButton::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, transparent 30%, #3fa4e1);
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

#switchButton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #3fa4e1;
}

#switchButton:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

#switchButton img {
  display: block;
  padding: 10px;
}

#analyzeButtonContainer {
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  line-height: 0;
}

#analyzeButton {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
  line-height: 0;
  box-sizing: border-box;
}

#analyzeButton::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, transparent 30%, #3fa4e1);
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

#analyzeButton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #3fa4e1;
}

#analyzeButton:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

#analyzeButton img {
  display: block;
  padding: 10px;
}

#translatePageButtonContainer {
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  line-height: 0;
}

#translatePageButton {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
  line-height: 0;
  box-sizing: border-box;
}

#translatePageButton::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, transparent 30%, #3fa4e1);
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

#translatePageButton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #3fa4e1;
}

#translatePageButton:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

#translatePageButton img {
  display: block;
  padding: 10px;
}

/* Concluding Process and Analyzing Process */
#translatingProcess,
#analyzingProcess {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #040426;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
}

.typewriter {
  /* font-family: "Monospace", Courier, monospace; */
  background-color: #000;
  padding: 20px;
  border: 2px solid #333;
  width: 90%;
  height: 80px;
  max-width: 600px;
  margin: 20px auto;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.typewriter-content {
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  text-align: center;

  transition: opacity 0.5s ease;
  opacity: 1;
}

/* .typewriter::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 1em;
  background-color: currentColor;
  margin-left: 5px;
  vertical-align: top;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
} */

/* Conclusion Menu */
#concludedMenu {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #040426;
  border-radius: 8px;
  margin: 20px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#concludedContent {
  font-size: 16px;
  border-radius: 10px;
  color: #fff;
  background-color: #01011c;
  padding: 20px;
  border: 2px solid #3fa4e1;
  width: 95%;
  margin: 20px auto;
  white-space: normal;
  position: relative;
  overflow: hidden;
}

#translateConclusion button {
  width: 100%;
}

#concludedMenuButtons button {
  /* display: flex;
  align-items: space-between;
  justify-content: center; */
  width: 100%;
}

/* Container */
#targetLengthContainer {
  margin: 15px 0;
  text-align: center;
  width: 320px;
}

#targetLength {
  width: 100%;
  margin: 10px 0;
  background: transparent;
  -webkit-appearance: none;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

/* 轨道样式（Chrome、Safari） */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: #ddd;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* 轨道样式（Firefox） */
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  background: #ddd;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* 拇指样式（Chrome、Safari） */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #3fa4e1;
  margin-top: -6px;
}

/* 拇指样式（Firefox） */
input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #3fa4e1;
  border: none;
}

/* Translate */
#translateConclusion {
  margin: 20px 0;
  text-align: center;
}

select {
  padding: 5px;
  margin-left: 5px;
}

/* Sentiment Evaluation Container */
#sentimentContainer {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

#sentimentContainer label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

#sentimentSlider {
  width: 100%;
  margin: 10px 0;
}

#emojiDisplay {
  font-size: 2rem;
  margin: 10px 0;
}

.sentimentLabels {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-top: 5px;
}

#reviewAnalysisContent {
  font-size: 16px;
  color: #fff;
  background-color: #01011c;
  padding: 20px;
  border: 2px solid #3fa4e1;
  width: 95%;
  margin: 20px auto;
  white-space: normal;
  position: relative;
  overflow: hidden;
}

#analysisPrompt {
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  width: 95%;
  height: 100px;
  border-radius: 10px;
  padding: 5px 0 0 5px;
  font-weight: 500;
  border: 2px solid #3fa4e1;
  color: #fff;
  font-size: 0.9rem;
  background-color: #01011c;
}

/* Translating Pgae */
#readingMenu,
#startMenu {
  border: 1px solid #ccc;
}

#concludedMenu,
#deepAnalysisPromptPage,
#translateOptionsPage,
#translatingPage,
#translatedPage,
#reviewAnalysisPage {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #040426;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#translatedPage button {
  width: 100%;
}

/* Copyright */
#copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8rem;
  color: #777;
}
